.grey-background {
	background-color: #dedede;
}
body {
	box-sizing: border-box;
	font-size: 14px;
	font-color: #1a1a1a;
}
div {
	box-sizing: border-box;
	padding-top: 1rem;
}
.mobile {
	font-size: 12px;
	background-color: #efefef;
}
.tablet {
	font-size: 14px;
	background-color: #ffffaf;
}
.desktop {
	font-size: 16px;
	background-color: #afffaf;
}
.huge {
	font-size: 16px;
	background-color: #afafaf;
}
.container {
	width: 100%;
}
.twothird-width {
	width: 66%;
	margin-left: 100px;
}
.full-width {
	padding: 0 10px;
	.col {
		width: 100%;
	}
}
.half-width {
	.col {
		padding: 0 10px;
		border: 1px solid #afafaf;
		float: left;
		width: 50%;
		&::after {
			content: "";
			clear: both;
		}
	}
	#left {
		border-right: 0;
	}
	.bottom {
		float: left;
		padding-top: 1rem;
		width: 100%;
	}
}
.plus-one {
	div {
		padding: 0 10px;
	}
	.col {
		border: 1px solid #afafaf;
		border-right: 0;
		padding-top: 0;
		float: left;
		width: 33%;
		&::after {
			content: "";
			clear: both;
		}
	}
	.bottom {
		border: 1px solid #afafaf;
		padding-top: 0;
		float: left;
		width: 33%;
		&::after {
			content: "";
			clear: both;
		}
	}
}
